DATABASE_URL="postgresql://postgres:Titi.123anis@localhost:5432/car"


# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.ytftwmzujcqkeqchklyq:H0XNeo7rhZtUZlon@aws-1-eu-north-1.pooler.supabase.com:5432/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.ytftwmzujcqkeqchklyq:H0XNeo7rhZtUZlon@aws-1-eu-north-1.pooler.supabase.com:5432/postgres"


JWT_SECRET="trust-auto-super-secret-jwt-key-2025"
JWT_REFRESH_SECRET="trust-auto-refresh-secret-key-2025"
JWT_EXPIRATION="15m"
JWT_REFRESH_EXPIRATION="7d"
PORT=8001
CORS_ORIGIN="http://localhost:3000,https://vehicle-import-mgmt.preview.emergentagent.com"
